{% macro render_tarjeta(recurso) %}
    <div class='libro-card' data-category='{{ recurso.area }}' data-type='{{ recurso.tipo }}' data-year='{{ recurso.nivel }}' libro-id='{{ recurso.id }}'>
        <img src="{% if recurso.link_portada %}{{ recurso.link_portada }}{% else %}
            {% if recurso.tipo == 'Libro' %}{{ url_for('static', filename='images/libro_default.png') }}
            {% elif recurso.tipo == 'Tesis' %}{{ url_for('static', filename='images/tesis_default.png') }}
            {% elif recurso.tipo == 'Guia' %}{{ url_for('static', filename='images/Guia_deafut.png') }}
            {% elif recurso.tipo == 'Video' %}{{ url_for('static', filename='images/video_default.png') }}
            {% elif recurso.tipo == 'Web' %}{{ url_for('static', filename='images/web_default.png') }}
            {% else %}{{ url_for('static', filename='images/web_default.png') }}
            {% endif %}
        {% endif %}" alt="Portada de {{ recurso.titulo }}" loading="lazy">
        <div class="badge-{{ recurso.tipo|lower }}">{{ recurso.tipo }}</div>
        <h3>{{ recurso.titulo }}</h3>

        {% if recurso.tipo == 'Libro' %}
            <p class="autor-name">{{ recurso.autor }} | {{ recurso.editorial }}</p>
            <p class="año-public"><b>{{ recurso.anio_publicacion }}</b></p>
        {% elif recurso.tipo == 'Tesis' %}
            <p class="autor-name">Autores: {{ recurso.autor }}</p>
            <p class="año-public">Tutor: {{ recurso.tutor }} | Asesor: {{ recurso.asesor_metodologico }} | <b>{{ recurso.anio_publicacion }}</b></p>
        {% elif recurso.tipo == 'Guia' %}
            <p class="autor-name">Autor: {{ recurso.autor }}</p>
            <p class="año-public">Año: <b>{{ recurso.anio_publicacion }}</b></p>
        {% elif recurso.tipo == 'Video' %}
            <p class="autor-name">Autor: {{ recurso.autor }}</p>
            <p class="autor-name">Duracion: {{ recurso.duracion }}</p>
            <p class="año-public">Año: <b>{{ recurso.anio_publicacion }}</b></p>
        {% elif recurso.tipo == 'Web' %}
            <p class="autor-name">Plataforma: {{ recurso.plataforma }}</p>
            <p class="año-public">Año: <b>{{ recurso.anio_publicacion }}</b></p>
        {% endif %}
        
        <div class="card-footer">
            <button class="btn-flip">Ver Descripcion</button>
            <a href="{{ recurso.link }}" target="_blank" class="btn-leer"
                {% if recurso.tipo == 'Video' %} style="background-color: #ff0000; color: white;"
                {% elif recurso.tipo == 'Web' %} style="background-color: #0076d6; color: white;"
                {% endif %}
            >
                {% if recurso.tipo == 'Guia' %}Descargar PDF
                {% elif recurso.tipo == 'Video' %}Ver Video
                {% elif recurso.tipo == 'Web' %}Visitar Sitio
                {% else %}Leer {{ recurso.tipo }}
                {% endif %}
            </a>
            <button class="btn-like" onclick="darLike('{{ recurso.id }}')">
                Like <span id="count-{{ recurso.id }}">0</span>
            </button>
        </div>
    </div>
{% endmacro %}