{% extends "base.html" %}
{% from "components/tarjeta.html" import render_tarjeta %}

{% block title %}Catálogo de Libros{% endblock %}

{% block content %}
    <section class = 'banner-catalogo'>
        <div class = 'contenido-banner'>
            <h2 class="titulo_seccion">Explora nuestra colección</h2>
            <p>Encuentra los libros en la Biblioteca Olga Bayone</p>
            <div class="search-container">
                <input type="search" id="buscador" placeholder="Busca tu libro por título, autor o materia...">
                <select id="filtro-area">
                    <optgroup label="LIBROS POR MATERIA">
                        <option value="all">Todas las categorías</option>
                        <option value="Matemática">Matemáticas</option>
                        <option value="Castellano y Literatura">Castellano</option>
                        <option value="Ciencias Naturales (Física, Química y Biología general)">Ciencias Naturales</option>
                        <option value="Ciencias Sociales">Ciencias Sociales</option>
                        <option value="Historia">Historia</option>
                        <option value="Informática y Tecnologia">Informática y Tecnologia</option>
                        <option value="Ingles y otras lenguas">Ingles y otras Lenguas</option>
                        <option value="Arte y Patrimonio">Arte y Patrimonio</option>
                    </optgroup>
                </select>
                <select id="filtro-año">
                    <option value="all">Todos</option>
                    <option value="1er Año">1er Año</option>
                    <option value="2do Año">2do Año</option>
                    <option value="3er Año">3er Año</option>
                    <option value="4to Año">4to Año</option>
                    <option value="5to Año">5to Año</option>
                </select>
            </div>
        </div>
    </section>
    <section class="book-content">
        <div class="grid-libros">
            {% for recurso in recursos %}
                {{ render_tarjeta(recurso) }}
            {% endfor %}
        </div>
    </section>
    <section id="recomendaciones" style="display:none;">
        <h2>Recomendaciones Relacionadas</h2>
        <div class="grid-libros" id="grid-recomendaciones"></div>
    </section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/buscador.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/accesoArea.js') }}"></script>   
    <script src="{{ url_for('static', filename='js/flipCard.js') }}"></script>
    <script>
        const librosData = {{ json_data | safe }};
    </script>
{% endblock %}